/* About */
#about h2 {
    color: var(--primary-color);
}

#about hr {
    background-color: var(--secondary-color);
}

#about .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#about .about-content .col-1 h3 {
    font-size: 28px;
    color: var(--primary-color);
    margin-bottom: 20px;

}

#about .about-content .col-1 p {
    color: var(--gray);
    margin-bottom: 20px;
    line-height: 1.8;
}

#about .about-content .col-2 p {
    color: var(--gray);
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}