/* Skills */
#skills {
    background-color: var(--primary-color);
}

#skills h2 {
    color: #fff;
}

#skills .skills-content {
    margin-top: 2rem;
    background-color: #0f272d;
    border-radius: 10px;
}

#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    align-items: center;
    text-align: center;
}

#skills .skills-content .row .item {
    color: white;
    background-color: #000;
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover {
    box-shadow: 10px 10px 10px #00f4ab0c;
}

#skills .skills-content .row .item img {
    width: 40px;
}


/* Skills */

