@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');


:root {
    --primary-color: #08647d;
    --secondary-color: #2fd3a2;
    --gray: #4a4a4d;
    --bg-primary: #ecf0f3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h2 {
    font-family: 'Saira', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Utility classes */
.text-primary {
    color: var(--secondary-color);
}

.btn-primary {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 8px 20px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background-color: #15a076;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;   
}

section {
    padding: 6rem 0;
}

section div h2 {
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 1px;
}

section div hr {
    width: 100px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}